In [1]:
from pyhive import hive
import pandas as pd

conn = hive.Connection(auth='CUSTOM', host="data.emr.ads.nb.com", port=10000, username="hadoop", password="Newsbreak@2021", database="ods")
query = """
select 
    winner_adomain,
    count (*) as num
from  ods.ods_kafka_msp_openrtb2_auction 
where pdate = '2023-04-25' --and phour = '01' 
    --and winner_bidder = 'rubicon'
group by winner_adomain
"""


df = pd.read_sql(query, conn)

print(df.head())

              winner_adomain  num
0        ["a-1american.com"]  201
1    ["alkindisprinkle.com"]   18
2  ["allurehermannpark.com"]   11
3         ["alphabuilt.com"]   14
4       ["americastire.com"]   15

In [22]:
df_dup = pd.read_csv('/Users/peiling/Downloads/num of dup.csv')
print(df_dup.head())

   num_duplicates              a.winner_adomain
0               8           ["a-1american.com"]
1            2490         ["arubanetworks.com"]
2             400  ["avocadogreenmattress.com"]
3             432         ["batteriesplus.com"]
4               8                ["bluff.coop"]

In [23]:
df.set_index('winner_adomain', inplace=True)

KeyError: "None of ['winner_adomain'] are in the columns"

In [24]:
df_dup.rename(columns={'a.winner_adomain': 'winner_adomain'}, inplace=True)
print(df_dup.head())
df_dup.set_index('winner_adomain', inplace=True)

   num_duplicates                winner_adomain
0               8           ["a-1american.com"]
1            2490         ["arubanetworks.com"]
2             400  ["avocadogreenmattress.com"]
3             432         ["batteriesplus.com"]
4               8                ["bluff.coop"]

In [25]:
print(df.head())

                           num
winner_adomain
["a-1american.com"]        201
["alkindisprinkle.com"]     18
["allurehermannpark.com"]   11
["alphabuilt.com"]          14
["americastire.com"]        15

In [26]:
print(df_dup.head())

                              num_duplicates
winner_adomain
["a-1american.com"]                        8
["arubanetworks.com"]                   2490
["avocadogreenmattress.com"]             400
["batteriesplus.com"]                    432
["bluff.coop"]                             8

In [27]:
merged_df = df.merge(df_dup, on='winner_adomain')

In [30]:
print(merged_df.head())

                               num  num_duplicates      rate
winner_adomain
["a-1american.com"]            201               8  0.039801
["arubanetworks.com"]         5671            2490  0.439076
["avocadogreenmattress.com"]  1407             400  0.284293
["batteriesplus.com"]         1753             432  0.246435
["bluff.coop"]                  28               8  0.285714

In [29]:
merged_df['rate'] = merged_df['num_duplicates'] / merged_df['num']

In [31]:
merged_df.sort_values(by='num', ascending=False)

                                          num  num_duplicates          rate
winner_adomain
[]                                   89133270             760  8.526558e-06
[]                                   89133270              38  4.263279e-07
["statefarm.com"]                     3977118         2188676  5.503171e-01
["pampers.com"]                       2435212         1132698  4.651332e-01
["metamucil.com"]                     1864668          264132  1.416510e-01
...                                       ...             ...           ...
["https://www.wacoal-america.com/"]         2               2  1.000000e+00
["qik.com.do"]                              2               2  1.000000e+00
["kramersheds.com"]                         2               2  1.000000e+00
["cliclime.com"]                            2               2  1.000000e+00
["mcarthurglen.com"]                        2               2  1.000000e+00

[18930 rows x 3 columns]